.device{
    width: 270px;
    height: 425px;
    border:1px solid black;
    border-radius: 10px;
    position: relative;
    
}


.device img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 9px;

}

.device-name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size:18px;
    line-height: 25px;
    font-style: italic;
    padding-left: 10px;
    margin: 8px;
    margin-bottom: 0%;
    margin-top: 7px;
}
.cart{
    width: 100%;
    background-color: darkseagreen;
    border-radius: 0px 0px 10px 10px;
    border:none;
    position: absolute;
    bottom: 0%;





}